body {
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    font-family: 'Oxygen', sans-serif;
    padding-top: 70px;
}

#header-nav{
    background-color: rgb(190, 190, 190);
    border: 1px black solid;
}

.navbar-brand h1 { /* Restaurant name */
    color: #000000;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
  }

.navbar-brand{
    padding: 10px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#nav-list {
    margin-top: 10px;
}
#nav-list a {
    color: #000000;
    text-align: center;
}
#nav-list a:hover {
    background: #E7E7E7;
}
#nav-list a {
    font-size: 1.4em;
}

#menu-meat-title {
    margin-bottom: 30px;
}
.menu-item{
    background-color: rgb(190, 190, 190);
    height: 700px;
    padding: 15px;
    margin-bottom: 30px;
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    #Sushi .menu-item{
        height: 400px;
    }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {

}